<div id="<%= dom_id contract %>">
  <% if contract.name %>
    <p class="m-5 flex space-between gap-1">
      <strong class="block font-medium mb-1">Name:</strong>
      <%= contract.name %>
    </p>
  <% end %>

  <% if contract.project_link %>
    <p class="m-5 flex space-between gap-1">
      <strong class="block font-medium mb-1">Project link:</strong>
      <%= contract.project_link %>
    </p>
  <% end %>

  <% if contract.tvc %>
    <p class="m-5 flex space-between gap-1">
      <strong class="block font-medium mb-1">Tvc:</strong>
      <%= contract.tvc %>
    </p>
  <% end %>

  <% if contract.code_hash %>
    <p class="m-5 flex space-between gap-1">
      <strong class="block font-medium mb-1">Code hash:</strong>
      <%= contract.code_hash %>
    </p>
  <% end %>

  <% if contract.compiler_version %>
    <p class="m-5 flex space-between gap-1">
      <strong class="block font-medium mb-1">Compiler version:</strong>
      <%= contract.compiler_version %>
    </p>
  <% end %>

  <% if contract.linker_version %>
    <p class="m-5 flex space-between gap-1">
      <strong class="block font-medium mb-1">Linker version:</strong>
      <%= contract.linker_version %>
    </p>
  <% end %>

  <% if contract.blockchain %>
    <p class="m-5 flex space-between gap-1">
      <strong class="block font-medium mb-1">Blockchain:</strong>
      <%= formatted_blockchain(contract) %>
    </p>
  <% end %>

    <div class="m-5" x-data="{ open: false }">
      <button class="rounded-lg py-3 px-5 bg-gray-100 font-medium" x-on:click="open = ! open">Show/Close ABI</button>
      <pre x-show="open">
<%= JSON.pretty_generate(contract.abi) %>
      </pre>
    </div>
  <div >
</div>

  <% if action_name != "show" %>
    <%= link_to "Show this contract", contract, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this contract', edit_contract_path(contract), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
