<div id="<%= dom_id decoded_message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Blockchain:</strong>
    <%= decoded_message.blockchain %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Network:</strong>
    <%= decoded_message.network %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ext:</strong>
    <%= decoded_message.ext_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Src:</strong>
    <%= decoded_message.src %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dst:</strong>
    <%= decoded_message.dst %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body type:</strong>
    <%= decoded_message.body_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= decoded_message.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this decoded message", decoded_message, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this decoded message', edit_decoded_message_path(decoded_message), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
