<div id="<%= dom_id decoded_message %>">
  <p class="m-5 flex space-between gap-1">
    <strong class="block font-medium mb-1">Blockchain:</strong>
    <%= formatted_blockchain(decoded_message) %>
  </p>

  <p class="m-5 flex space-between gap-1">
    <strong class="block font-medium mb-1">Message ID:</strong>
    <%= decoded_message.ext_id %>
  </p>

  <p class="m-5 flex space-between gap-1">
    <strong class="block font-medium mb-1">Src:</strong>
    <%= decoded_message.source.present? ? link_to(decoded_message.src, account_path(decoded_message.source.id)) : decoded_message.src %>
  </p>

  <p class="m-5 flex space-between gap-1">
    <strong class="block font-medium mb-1">Dst:</strong>
    <%= decoded_message.destination.present? ? link_to(decoded_message.dst, account_path(decoded_message.destination.id)) : decoded_message.dst %>
  </p>

  <p class="m-5 flex space-between gap-1">
    <strong class="block font-medium mb-1">Body type:</strong>
    <%= decoded_message.body_type %>
  </p>

  <p class="m-5 flex space-between gap-1">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= decoded_message.name %>
  </p>

  <p class="m-5 flex space-between gap-1">
    <strong class="block font-medium mb-1">Contract:</strong>
    <%= link_to(decoded_message.contract.name, contract_path(decoded_message.contract)) %>
  </p>

  <p class="m-5">
    <strong class="block font-medium mb-1">Header:</strong>
    <pre class="m-5">
<%= JSON.pretty_generate(decoded_message.header) %>
    </pre>
  </p>

  <div class="m-5" x-data="{ open: false }">
    <button class="rounded-lg py-3 px-5 bg-gray-100 font-medium" x-on:click="open = ! open">Show/Close Value</button>
    <pre x-show="open">
<%= JSON.pretty_generate(decoded_message.value) %>
    </pre>
  </div>
</div>
